Software List:
Developments: 
- Zed
- Git
- Dbeaver
- Docker Desktop
- Bruno 
- Postman
- Mongodb compass

Tools:
- Qbittorrent
- vlc 
- ghostty
- only office
- Gear lever
- Cursor
- Obsidian
- Chrome

Terminal:
- tldr
- vim
- zsh
- compress, and uncompression tools
- stow

System:
- Drivers
- settings
- vatsal profile
- github setup 
- backup restoration

